.footer__menu-item {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .footer__menu-item {
    flex-direction: column;
    margin-bottom: 16px;
}
}
